<ul class="sidebar-menu">
  <li>
    <a routerLink="/Home">Home</a>
  </li>
  <li>
    <a routerLink="/Client">Client</a>
  </li>
  <li>
    <a routerLink="/Fournisseur">Fournisseur</a>
  </li>
  <li>
    <a routerLink="/Cat">Catégories</a>
  </li>
  <li>
    <a routerLink="/Produit"> Produit</a>
    <ul>
      <li>
        <a routerLink="/inv">Inventaire Produit</a>
      </li>
      <li>
        <a routerLink="/Devis">Devis</a>
      </li>
      <li>
        <a routerLink="/Facture">Facture</a>
      </li>
    </ul>
  </li>
 
  
  <li>
    <a routerLink="/stat">Statistiques</a>
  </li>
  <li>
    <a routerLink="/brcr">Bon de Reception</a>
  </li>
  <li>
    <a routerLink="/devisFournisseur"> Devis Fournisseur</a>
  </li>
  <li>
    <a routerLink="/ventem">Ventes Mensuelle</a>
  </li>
  
  <li>
    <a routerLink="/regs">Register</a>
  </li>
  <li>
    <a routerLink="/user">Utilisateur</a>
  </li>
  
  
  <li>
    <a routerLink="/fas">Vente</a>
  </li>
  <li>
    <a routerLink="/Cheque">Cheque</a>
  </li>
  <li>
    <a routerLink="/fa">Facture Achat</a>
  </li>
  <li>
    <a routerLink="/vente">Ventes Client</a>
  </li>
  <li>
    <a routerLink="/achat">Achat</a>
  </li>
</ul>
