/* Dans votre fichier de style CSS (facture.component.scss par exemple) */
.company-logo {
    margin-bottom: 20px;
  }
  
  .client-details {
    margin-bottom: 20px;
  }
  
  .payment-details {
    margin-top: 20px;
    font-weight: bold;
  }
  